@using Budget_Buddy_App.ViewModels;
@model ChangePasswordViewModel;

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<link href="~/css/login.css" rel="stylesheet" asp-append-version="true" />

<div class="account-container">
    <div class="account-box">
        <h1 class="text-center mb-4">Change Password</h1>
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" readonly />
            </div>
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmNewPassword" class="form-label"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <input type="submit" value="Submit" class="btn btn-success w-100 p-2" />
            <div class="text-center mt-2">
                <a asp-controller="Account" asp-action="VerifyEmail" class="text-decoration-none mt-3">Back</a>
            </div>
        </form>
    </div>
    <div class="info-section">
        <h1> change your new password </h1>
        <ul>
            <li>Enter your new password.</li>
            <li>Confirm your new password by entering it again.</li>
            <li>Make sure both passwords match.</li>
            <li>Click "Submit" to save your new password.</li>
            <li>If you face any issues, feel free to contact support at ankit02ja@gmail.com</li>

        </ul>
    </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}
