﻿@using Budget_Buddy_App.ViewModels;
@model RegisterViewModel;

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<link href="~/css/login.css" rel="stylesheet" asp-append-version="true" />

<div class="account-container">
    <div class="account-box">
        <h1 class="text-center mb-4">Register</h1>
        <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="submit" value="Register" class="btn btn-success w-100 p-2" />
            <p class="text-center mt-2">
                Already have an account? <a asp-controller="Account" asp-action="Login" class="text-decoration-none">Login</a>
            </p>
            <div class="text-center">
                <a asp-controller="Account" asp-action="Login" class="text-decoration-none mt-3">Back</a>
            </div>
        </form>
    </div>
    <div class="info-section">
        <h1>📋 Instructions</h1>
        <ul>
            <li>Enter your full name as per official ID.</li>
            <li>Use a valid email address—this will be used for verification.</li>
            <li>Create a strong password (8+ characters, with numbers & symbols).</li>
            <li>Double-check your details before hitting “Register”.</li>
            <li>After registration, you can login </li>
            <li>If you face any issues, contact support at ankit02ja@gmail.com</li>
        </ul>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}
